<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-white p-2">
    <a class="navbar-brand m-3" href="/">Nick Gallo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav text-center ms-auto m-3">
            <a href='/about' style="text-decoration: none;"><li class="nav-link mr-1">About</li></a>
            <a href='/projects' style="text-decoration: none;"><li class="nav-link" href="#">Projects</li></a>
            <a style="text-decoration: none;" href="https://www.github.com/NickGallo29"><li class="nav-link">Github</li></a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                Socials
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="https://linkedin.com/in/nicholasgallo2001">Linkedin</a></li>
              </ul>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% if(!currentUser){%>
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                    <li><a class="dropdown-item" href="/register">Register</a></li>
                  <%}else{%>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    <%}%>
                </ul>
            </li>
            
        </ul>
    </div>
</nav>