<% layout('/layouts/boilerplate')%>
<div class="d-flex flex-column align-items-center" id="aboutPage">
    <div class="text-center w-100 p-5">
        <h3 class="w-80">
            Welcome to my Portfolio!<br><br>This website is created through custom made Javascript/HTML, styled with Bootstrap, and run through Node.js. Any use of a database
             is done through MongoDB. All code associated with projects can be viewed through GitHub, with previews available under the "Projects" tab in the 
             navbar.<br><br>Have any Questions? Take a look
              at the "Socials" page for ways to contact.
        </h3>
    </div>
    <div class="mt-3 text-center w-75 CustomDropdown">
        <h1>Purpose <i class="fas fa-angle-down dropdownButton"></i></h1>
            <div class="dropdownContent fade-in">
                <p class="m-4">
                    My name is Nicholas Gallo and I am a Computer Science major at Johnson and Wales University. Entering my Junior year of college, I
                    am beyond excited to utilize the various skills and experienced gained to pave way into my career opportunities. Using this self built
                    website, I hope to create an easy way for employers and other interested individuals to get instant access to projects created, as well
                    as projects in progress. This website will be everchanging, with the hope of incorporating new skills into improvements and future features.
                </p>
            </div>
    </div>
        <div class="mt-5 text-center w-75 CustomDropdown">
            <h1>My Journey <i class="fas fa-angle-down dropdownButton"></i></h1>
                <div class="dropdownContent fade-in">
                    <p class="m-4">
                        Growing up in Rhode Island, my ambition for future careers changed quite a bit. I have always been driven by ideas of business and 
                        marketing, and have assumed any future occupation to follow similar ideals. This thought shadowed me until my Junior year of High School,
                         the year I took my first dive into Computer Science. I was plagued with deciding a Science Fair topic, and after many rejected easy-to-complete projects,
                          I landed on coding a simple video game. I wasn't too interested in the topic, but I needed a quick way to get an accepted project. I purchased a cheap course on
                         Udemy, and begun my journey in "2D/3D Game Development with C# and Unity" (Whatever that meant).  
                    </p>
                    <p>
                        I created my first "Hello World" project (What a memory) and learned the fundamentals of C#. Needless to say, I was terribly bored. I was so uninterested that I actually closed the course and
                        wouldn't reopen the project until two months later. This time, however, things were different. I was creating projects with Unity and found myself having fun. Granted, these
                        first games only existed in the terminal, but to see a program I created come to life in some fashion was so fulfilling. I evolved to point-and-click games that incorporated graphics and soon
                         had the ability to make a character move and fight enemies. I will admit, much of the project was heavily influenced by online tutorials, but I was learning new skills
                         such as character physics, animation, and hit detection. All of which I used to create a very short, single-level game centered around my very own science class.

                    </p>
                    <p>
                        This project was selected amongst seven other winners to be entered at the Rhode Island State Science Fair. I spent three days presenting my project to judges and viewing other students’ impressive work. While never
                        expecting to reach this point, I was beyond ecstatic to have placed 2nd grant within a pool of about 200 entries.

                    </p>
                    <p>
                        It was at this point that I realized what I loved about Computer Science. I was still able to keep a very technical mindset while having the ability to think creatively. Trying to find unique ways to
                         think outside the box and at times, watching my creations come to life. Within one year, made the decision to turn away from Marketing and pursue a career in Computer Science.
                    </p>
                </div>
        </div>

        <div class="mt-5 text-center w-75 CustomDropdown">
            <h1>Why Hire Me <i class="fas fa-angle-down dropdownButton"></i></h1>
                <div class="dropdownContent fade-in">
                    <p class="m-4">
                        I could begin to explain how I have maintained <b>X</b> GPA and that reflects my: <u><i>insert bullet points here</i></u>
                    </p>
                    <p>
                        However, I believe my strongest traits lie in what I could do rather than what I can. During my 2nd year of college, worries started to grow regarding the skills I have learned. I completed many fundamental Computer Science courses
                        and generally excelled. Even with this success, I still found myself intimidated in entering the job field. I knew the basics but fell short on ways to incorporate my knowledge into real-world applications. Unfortunately, Johnson and Wales University lack classes
                         like these, so any learning had to be done on my own time.
                    </p>
                    <p>
                        I spent some time researching what job field I may enjoy, and ultimately decided on Web Development. Going back to my old roots, I found a highly rated course on Udemy and began my journey through 60 hours of Javascript, HTML, CSS, and many more useful skills. I learned how to establish
                         servers with Node.Js, incorporate databases, and authenticate users. All of which would not have been possible if I opted to stick with my universities course schedule.
                    </p>
                    <p>
                      What makes me the perfect candidate for a job position isn't my knowledge or expertise, but my ability to learn. I saw a problem forming with my major and decided to address it. I took numerous hours out of my day to develop new skills and grow as a developer. I don't know everything, nor am I close, but am looking to
                      evolve by the day. While I can't promise I'll provide seamless applications with no help or guidance, I can ensure that I will go above and beyond to learn the task at hand and the essential skills that follow.
                    </p>
                </div>
        </div>

    <div class="mt-5 text-center w-100 CustomDropdown">
        <h1>Education/Experience<i class="fas fa-angle-down dropdownButton"></i></h1>
        <div class="dropdownContent fade-in">
            <p class="m-4">
                Earning my Bachelors in Computer Science at Johnson and Wales University, I have maintined a 3.7 GPA while taking relevent courses 
                in my field of study. Some of these consist of:
                    <li>Computer Science 1+2</li>
                    <li>Advanced Data Structures</li>
                    <li>Discrete Mathmatics</li>
                    <li>HCI/Usability Security</li>
            </p>
            <p class="m-4">
                I have yet to accumulate any relevent work experience, but those looking to find information regarding past employment can view my
                resume <a href="https://drive.google.com/file/d/1sHARmwpL30BdKMsJN2958XQSD4lj6bCR/view?usp=sharing" style="color:gray">here</a>.
            </p>
        </div>
    </div>
</div>